fastapi
uvicorn
pandas
numpy
scikit-learn
xgboost
lightgbm
prophet
torch
pytorch-lightning
mlflow
jupyter
passlib[bcrypt]
PyJWT
python-multipart
joblib
statsmodels
sqlalchemy
python-dotenv
dowhy
imbalanced-learn
plotly


